body{
  background-color: rgba(189, 207, 86, 0.51);
  text-align: center;
}
.pokemon{
  height: 150px;
  width: 150px;
  cursor: pointer;
  margin: 10px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5%;
  border-spacing: 10px;
}
.selected-pokemon{
  height: 150px;
  width: 150px;
  margin: 10px;
}
.pokemon-info{
  background-color: cornsilk;
  border: white  2px solid;
  border-radius: 2%;
  max-width: 700px;
}
.types{    
  display: inline-flex; 
}
.type{
  font-size: 20px;
  margin: 5px;
  border-radius: 8%;
  color: white;
  padding: 5px;
  
}
.hidden{
  display: none;
}
.fire{
  background-color: rgb(231, 33, 33);
}
.grass{
  background-color: green;
}
.normal{
  background-color: grey;

}
.steel{
  background-color: darkgrey;
}
.bug{
  background-color: darkgreen;
}
.water{
  background-color: rgb(31, 192, 255);
}
.electric{
  background-color: rgb(224, 224, 12);
}
.ground{
  background-color: rgb(151, 68, 68);
}
.fighting{
  background-color: red;
}
.poison{
  background-color: purple;
}
.flying{
  background-color: lightgrey;
}
.psychic{
  background-color: palevioletred
}
.ice{
  background-color: skyblue;
}
.ghost{
  background-color: darkorchid;
}
.rock{
  background-color: rosybrown;
}
.dark{
  background-color: rgb(75, 67, 67);
}
.dragon{
  background-color: chocolate;
}
.fairy{
  background-color: rgb(247, 54, 173);
}
